<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-.-mapper.dtd">
<mapper namespace="ezo.mp.dao.ProductMapper">


	<select id="getAllProducts" resultType="Product">
		<!-- select * from emp -->
		select * from Product
	</select>


	<select id="getProduct" resultType="Product">
		select * from Product where productCode = #{productCode}
	</select>





</mapper>