<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MateMapper">

	<!-- 회원 : 친구 리스트 -->
	<select id="getMateListByMemId" parameterType="MateDTO"
		resultType="MateDTO">

		select e.mateid, e.memid, m.memname
		from mate e, member m
		where e.memid=#{e.memId}
		and e.MATEID=m.MEMID
		
	</select>

	<!-- 회원: 친구 아이디 -->
	<select id="getMateIdByMateId" resultType="MateDTO">
	
		select memId from mate where
		memid=#{memId}
	</select>

	<!-- 회원: 친구상태정보 -->
	<select id="getMateInfoByMateId" parameterType="String"
		resultType="MateDTO">
		
		select matestatus, infostatus from mate
		where mateid=#{mateId}
		memid=#{memId}
	
	</select>
	
	<!-- 회원:친구의 정보-->
	<select id="getMemInfoByMemId" parameterType="String"
		resultType="MateDTO">
		select DISTINCT r.memid, r.memname, r.memgrade, e.mateid
		from member r, mate e 
		where e.mateid=#{e.mateId}
    	and e.mateid=r.memid
		
		
	
		
		<!--  select memname, e.MEMID
		from member r, mate e
		where e.memid=#{memId}
		and r.memid=e.memid;-->

		
	</select>

	<!-- 회원: 정보 -->
	<select id="getMateInfoByMemId" parameterType="String"
		resultType="MateDTO">
		select memid, memname, memgrade from member where
		memid=#{memId}
	</select>


</mapper>

