<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MateMapper">
	
	<!-- 회원 : 친구 리스트 -->
	<select id="getMateListByMemId" parameterType="MateDTO" resultType="MateDTO">
	
		select * from mate 	where memid=#{memId}
	</select>
	
	<!-- 회원: 친구 아이디 -->
	<select id="getMateId" resultType="MateDTO">
	<!-- <select id="getMateIdByMateId" parameterType="MateDTO" resultType="MateDTO"> -->
		select memId from mate where
		memid=#{abc@gmail.com}
	</select>
	
	<!-- 회원: 친구정보 -->
	<select id="getMateInfoByMateId" resultType="MateDTO" parameterType="String">
	<!-- <select id="getMateInfoByMateId" parameterType="MateDTO" resultType="MateDTO"> -->
		select matestatus, infostatus from mate
		where memid=#{mateId}
	</select>
	
	
</mapper>

