<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MateMapper">
	
	<!-- 회원 : 친구 리스트 -->
	<select id="getMateListByMateId" parameterType="MateDTO" resultType="MateDTO">
		select * from mate where 
		memid=#{mateId}
	</select>
	
	<!-- 회원 -->
	<select id="getMateIdByMemId" parameterType="MateDTO" resultType="MateDTO">
		select from mate where
		memid=#{mateId}
	</select>
	
</mapper>
