<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MemberMapper">


	<!-- 공통:회원가입 -->
	<insert id="putMember" parameterType="MemberDTO">
		insert into member
		(memid,memname,membirth,mempasswd,memmobile,memgrade,leave)
		values
		(#{memId}, #{memName}, #{memBirth}, #{memPasswd}, #{memMobile},
		'1','0')
	</insert>

	<!-- 회원:로그인 -->
	<select id="getMemberInfoByMemberTerms" parameterType="MemberDTO"
		resultType="MemberDTO">
		select memid, memname from member
		where memid=#{memId} and
		mempasswd=#{memPasswd}
	</select>

	<!-- 회원:아이디찾기 -->
	<select id="getMemIdByMemberTerms" parameterType="MemberDTO"
		resultType="string">
		select memid from member
		where memname=#{memName} and
		membirth=#{memBirth} and memmobile=#{memMobile}
	</select>

	<!-- 회원:비밀번호찾기 -->
	<select id="getMemPasswdByMemberTerms" parameterType="MemberDTO"
		resultType="string">
		select mempasswd from member
		where memid=#{memId} and
		membirth=#{memBirth} and memmobile=#{memMobile}
	</select>

	<!-- 회원:내정보 -->
	<select id="getMyInfoByMemId" parameterType="MemberDTO"
		resultType="MemberDTO">
		select memid, memname, memgrade from member where
		memid=#{memId}
	</select>

	<!-- 회원:현재비밀번호 확인 -->
	<select id="getMemPasswdByMemId" parameterType="MemberDTO"
		resultType="string">
		select leave from member
		where memid=#{memId} and
		mempasswd=#{memPasswd}
	</select>

	<!-- 회원:정보수정 -->
	<update id="setMemberInfoByMemberTerms" parameterType="MemberDTO">
		update
		member set mempasswd=#{tempPw}, memmobile=#{memMobile}
		where
		memid=#{memId}
	</update>

	<!-- 회원:탈퇴 -->
	<update id="setLeave" parameterType="MemberDTO">
		update member set leave='1',
		leavereason=#{leaveReason}, leavedate=sysdate
		where memid=#{memId}
	</update>



	<!--admin -->


	<!--회원 : 검색 설정 -->
	<update id="setOptionInfoByMemId" parameterType="MemberDTO">
		update member
		set
		memWalkRange = #{memWalkRange}
		memCarRange = #{memCarRange}
		memExcMenu = #{memExcMenu}
		where memid=#{memId}
	</update>


	<!--관리자 : 아이디로 유저 검색 -->
	<select id="getMemberListById" resultType="MemberDTO"
		parameterType="String">
		select memberid,membername,membergrade,black where memid
		= #{memId}
	</select>

	<!--관리자, 회원 : 이름으로 유저 검색 -->
	<select id="getMemberListByName" resultType="MemberDTO"
		parameterType="String">
		select memberid,membername,membergrade,black where
		memname = #{memName}
	</select>

	<!--관리자, 회원 : 등급으로 유저 검색 -->
	<select id="getMemberListByGrade" resultType="MemberDTO"
		parameterType="String">
		select memberid,membername,membergrade,black where
		memgrade = #{memGrade}
	</select>

	<!--관리자 : 블랙으로 유저 검색 -->
	<select id="getMemberListByBlack" resultType="MemberDTO"
		parameterType="String">
		select memberid,membername,membergrade,black where
		memblack = #{memBlack}
	</select>

	<!--관리자 : 회원 정보 수정 -->
	<update id="setMemberInfo" parameterType="MemberDTO">
		update member set
		membergrade=#{memberGrade},
		black = #{black}
		where memid=#{memId}
	</update>

</mapper>