<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MemberMapper">


	<!-- 공통:회원가입 -->
	<insert id="putMember" parameterType="MemberDTO">
		insert into member
		(memid,memname,membirth,mempasswd,memmobile,memgrade,memwalkrange,memcarrange,black,leave,evalcount)
		values (#{memId}, #{memName}, #{memBirth}, #{memPasswd},
		#{memMobile},'1','100','1000','0','0','0')
	</insert>


	<!-- 회원:아이디체크 ajax -->
	<select id="getMemIdByMemId" parameterType="String" resultType="String">
		select memid from member
		where memid=#{memId}
	</select>


	<!-- 회원:로그인 , loginUser -->
	<select id="getMemberInfoByMemberTerms" parameterType="MemberDTO"
		resultType="MemberDTO">
		select memid, memgrade,memWalkRange,memCarRange,memExcMenu,evalcount
		from member
		where
		memid=#{memId} and
		mempasswd=#{memPasswd} and leave != '1'
	</select>


	<!-- 회원:아이디찾기 -->
	<select id="getMemIdByMemberTerms" parameterType="MemberDTO"
		resultType="String">
		select memid from member
		where memname=#{memName} and
		membirth=#{memBirth} and memmobile=#{memMobile} and leave != '1'
	</select>


	<!-- 회원:비밀번호찾기 -->
	<select id="getMemPasswdByMemberTerms" parameterType="MemberDTO"
		resultType="String">
		select mempasswd from member
		where memid=#{memId} and
		membirth=#{memBirth} and memmobile=#{memMobile} and leave != '1'
	</select>


	<!-- 회원:내정보 -->
	<select id="getMyInfoByMemId" parameterType="String" resultType="MemberDTO">
		select memid, memname, memmobile, memgrade from member
		where
		memid=#{memId}
	</select>


	<!-- 회원:비밀번호 찾기 ajax, 현재비밀번호 확인 -->
	<select id="getMemPasswdByMemId" parameterType="MemberDTO"
		resultType="String">
		select leave from member
		where memid=#{memId} and
		mempasswd=#{memPasswd} and leave != '1'
	</select>


	<!-- 회원:비밀번호 변경,인증번호로 변경 -->
	<update id="setMemPasswdByMemberTerms" parameterType="MemberDTO">
		update
		member set mempasswd=#{tempPw}
		where
		memid=#{memId}
	</update>


	<!-- 회원:전화번호 변경 -->
	<update id="setMemberInfoByMemberTerms" parameterType="MemberDTO">
		update
		member set memmobile=#{memMobile}
		where
		memid=#{memId}
	</update>


	<!-- 회원:탈퇴 -->
	<update id="setLeave" parameterType="MemberDTO">
		update member set leave='1',
		leavereason=#{leaveReason} where memid=#{memId}
	</update>



	<!--admin -->


	<!-- 회원 : 설정 정보 불러오기 -->
	<select id="getOptionInfoByMemId" parameterType="String"
		resultType="MemberDTO">
		select memexcmenu, memwalkrange, memcarrange from member
		where
		memid=#{memId}
	</select>


	<!--회원 : 검색 설정 -->
	<update id="setOptionInfoByMemId" parameterType="MemberDTO">
		update member
		set
		memWalkRange = #{memWalkRange},
		memCarRange = #{memCarRange},
		memExcMenu = #{memExcMenu}
		where memid=#{memId}
	</update>
	
	<!-- 회원 : 평가 시 평가 카운트 증가 -->
	<update id="setEvalCountAndMemGrade" parameterType="MemberDTO">
		update member
		set
		evalcount = #{evalCount},
		memGrade = #{memGrade}
		where memid=#{memId}
	</update>
	<!--관리자 : 아이디로 유저 검색 -->

	<select id="getMemberListById" resultType="MemberDTO"
		parameterType="String">


		select memid,memname,memgrade,black from member where
		memid
		= #{memId}

	</select>

	<!--관리자 : 이름으로 유저 검색 -->

	<select id="getMemberListByName" resultType="MemberDTO"
		parameterType="String">


		select memid,memname,memgrade,black from member where
		memname = #{memName}

	</select>


	<!--관리자 : 등급으로 유저 검색 -->

	<select id="getMemberListByGrade" resultType="MemberDTO"
		parameterType="String">


		select memid,memname,memgrade,black from member where
		memgrade = #{memGrade}
	</select>

	<!--관리자 : 블랙으로 유저 검색 -->
	<select id="getMemberListByBlack" resultType="MemberDTO">
		select
		memid,memname,memgrade,black from member where
		black = 1

	</select>



	<!--관리자 : 회원 정보 수정 -->
	<update id="setMemberInfo" parameterType="MemberDTO">
		update member set
		memgrade=#{memGrade},
		black = #{black}
		where memid=#{memId}
	</update>

</mapper>