<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MenuMapper">

	<!-- 관리자, 회원 : 메뉴 리스트 불러오기 -->
	<select id="getMenuListByRestntId" parameterType="String"
		resultType="MenuDTO">
		select
		menuid,menuname,restntId,menuPrice,menuCalorie,menuNote from menu where
		restntid=#{restntId}
	</select>


	<!-- 관리자 : 메뉴 상세 정보표시 -->
	<select id="getMenuInfoByMenuId" parameterType="String"
		resultType="MenuDTO">

		select
		menuid,menuname,restntId,menuPrice,menuCalorie,menuNote
		where menuid =
		#{menuId}
	</select>

	<!--관리자 : 메뉴 추가 -->
	<insert id="putMenu" parameterType="MenuDTO">
		insert into menu
		(menuId,
		restntId, menuName, menuPrice, menuCalorie,menuNote)
		values
		(sq_menu.NEXTVAL,
		#{restntId},#{menuName},#{menuPrice},#{menuCalorie},#{menuNote})

	</insert>

	<!-- 관리자 : 메뉴 수정 -->
	<update id="setMenuByMenuId" parameterType="MenuDTO">
		update menu set
		menuName=#{menuName},
		menuPrice=#{menuPrice},
		menuCalorie=#{menuCalorie},
		menuNote=#{menuNote},
		where
		menuId=#{menuId}
	</update>

	<!-- 관리자 : 메뉴 삭제 -->
	<delete id="dropMenuByMenuId" parameterType="String">
		delete from menu
		where
		menuId=#{menuId}
	</delete>

</mapper>