<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MenuMapper">

	<!-- 관리자, 회원 : 메뉴 리스트 불러오기 -->
	<select id="getMenuListByRestntId" parameterType="String"
		resultType="MenuDTO">
		select
		menuid,menuname,restntId,menuPrice,menuCalorie,menuNote from menu
		where
		restntid=#{restntId}
		and active = '1'
		order by menuId
	</select>


	<!-- 관리자 : 메뉴 상세 정보표시 -->
	<select id="getMenuInfoByMenuId" parameterType="String"
		resultType="MenuDTO">

		select
		menuid,menuname,restntId,menuPrice,menuCalorie,menuNote
		where menuid =
		#{menuId}
		and active = '1'
	</select>

	<!--관리자 : 메뉴 추가 -->
	<insert id="putMenu" parameterType="MenuDTO">
		insert into menu
		(menuId,
		restntId, menuName, menuPrice, menuCalorie,menuNote,active)
		values
		(#{menuId},
		#{restntId},#{menuName},#{menuPrice},#{menuCalorie},#{menuNote},'1')
	</insert>

	<!-- 관리자 : 메뉴 수정 -->
	<update id="setMenuByMenuId" parameterType="MenuDTO">
		update menu set
		menuName=#{menuName},
		menuPrice=#{menuPrice},
		menuCalorie=#{menuCalorie},
		menuNote=#{menuNote}
		where
		menuId=#{menuId}
		and active = '1'
	</update>

	<!-- 관리자 : 메뉴 삭제 -->
	<update id="dropMenuByMenuId" parameterType="String">
		update menu set
		active='2'
		where
		menuId=#{menuId}
		and active = '1'
	</update>




	<!-- 관리자 : 메뉴 추가 취소 -->
	<delete id="addMenuCancel" parameterType="String">
		delete from menu
		where
		menuId=#{menuId}
		and active = '1'
	</delete>

	<select id="getLastMenuId" parameterType="String" resultType="String">
		select max(menuid) from menu
		where restntId=#{restntId}

	</select>

	<insert id="addMenuForm" parameterType="MenuDTO">
		insert into menu
		(menuId,
		restntId,active)
		values
		(#{menuId},#{restntId},'1')

	</insert>

	




</mapper>