<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.RestntMapper">
<!-- 	<resultMap type="com.project.domain.RestntDTO" id="RestntDTO">
		<result property="id" column="id" javaType="string" />
		<result property="name" column="name" javaType="string" />
		<result property="latitude" column="latitude" javaType="string" />
		<result property="longitude" column="longitude" javaType="string" />
		<result property="phone" column="phone" javaType="string" />
		<result property="address1" column="address1" javaType="string" />
		<result property="address2" column="address2" javaType="string" />
		<result property="address3" column="address3" javaType="string" />
		<result property="address4" column="address4" javaType="string" />
		<result property="type" column="type" javaType="string" />
	</resultMap> -->
	
	
	<!-- 회원, 관리자 : 식당 리스트 -->
	<select id="getRestntList" resultType="RestntDTO">
		select * from restnt
	</select>
	

	<!--관리자 : 식당 정보 삭제  -->
	
	<delete id="dropRestntById" parameterType="string">
		delete from restnt where id = #{restntid}
	</delete>
	

	<!--관리자 : 식당정보 수정  -->

	<update id="setRestntById"  parameterType="String">
		update restnt set restntname = #{restntname}, restntlatitude = #{restntlatitude}, restntlongitude=#{restntlongitude}, restntphone=#{restntphone}, restnttype=#{restnttype}, restntaddress1=#{restntaddress1}, restntaddress2=#{restntaddress2}, restntaddress3=#{restntaddress3}, restntaddress4=#{restntaddress4} where restntid = #{restntid}
	</update>
	
	<!--관리자 : 식당정보 추가  -->

	<insert id="putRestnt" parameterType="RestntDTO">
		insert into restnt (restntId, restntName, restntLatitude, restntLonogitude, restntAddress1, restntAddress2, restntAddress3, restntAddress4, restntPhone, restntType), values (#{restntId}, #{restntname}, #{restntlatitude}, #{restntlongitude}, #{restntaddress1}, #{restntaddress2}, #{restntaddress3}, #{restntaddress4}, #{restntPhone}, #{restntType})
	</insert>
	
	
	<!--관리자: 식당관리 - 주소필터 적용 - 식당 리스트 표시  -->
	<select id="getRestntListByAddr" parameterType="RestntDTO">
	select restntid, restntname from restnt 
	where restntAddress1=#{restntAddress1},
	restntAddress2=#{restntAddress2},
	restntAddress3={restntAddress3},
	restntAddress4=#{restntAddress4}
	</select>
	
	<!-- 회원 : 식당 상세정보 (식당이름, 평점, 위치, 평가에 참여한 친구리스트, 메뉴리스트, 가격, 칼로리)-->
	<select id="getRestntDetailInfoById" parameterType="RestntDTO" resultType="String">
	select from restntDTO a mateDTO b evalDTO c 
	where a.restntId = c.restntId a.restntEval =  
	</select>
	
	<!--관리자, 회원 : 식당관리 - 식당리스트에서 식당선택 - 상세정보 표시  -->
	<select id="getRestntInfoById" parameterType="RestntDTO" resultType="String">
	select restntname,
	restntLatitude,restntLongitude,
	restntAddress1,restntAddress2,
	restntAddress3,restntAddress4;
	restntPhone,restntType where restntid=#{restntId}
	</select>
	
	<!-- 회원 : 식당 코드 -->
	<select id = "getRestntId" parameterType="RestntDTO" resultType="String">
		select restntid from restnt where restntName = #{restntName}
		
	</select>
	
	
</mapper>