<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.RestntMapper">
	<!-- <resultMap type="com.project.domain.RestntDTO" id="RestntDTO"> <result 
		property="id" column="id" javaType="string" /> <result property="name" column="name" 
		javaType="string" /> <result property="latitude" column="latitude" javaType="string" 
		/> <result property="longitude" column="longitude" javaType="string" /> <result 
		property="Tel" column="Tel" javaType="string" /> <result property="adress1" 
		column="adress1" javaType="string" /> <result property="adress2" column="adress2" 
		javaType="string" /> <result property="adress3" column="adress3" javaType="string" 
		/> <result property="adress4" column="adress4" javaType="string" /> <result 
		property="type" column="type" javaType="string" /> </resultMap> -->


	<!-- 회원, 관리자 : 식당 리스트 -->
	<select id="getRestntList" resultType="RestntDTO">
		select
		restntId,RESTNTNAME,RESTNTTEL,RESTNTCATE,RESTNTEVAL,ADRESS1,ADRESS2,
		ADRESS3,ADRESS4, LATITUDE, LONGITUDE from restnt where active = '1'
	</select>
	
	<select id="getRestntListByAdress" parameterType="RestntDTO" resultType="RestntDTO">
		select
		restntId,RESTNTNAME,RESTNTTEL,RESTNTCATE,RESTNTEVAL,ADRESS1,ADRESS2,
		ADRESS3,ADRESS4, LATITUDE, LONGITUDE from restnt
		where
		adress1=#{adress1}and
		adress2=#{adress2}and
		adress3=#{adress3}and
		active= '1'
	</select>


	<!--관리자 : 식당 정보 삭제 -->

	<update id="dropRestntById" parameterType="String">
		update restnt set
		active = '0'
		where restntId = #{restntId} and
		active = '1'
	</update>


	<!--관리자 : 식당정보 수정 -->

	<update id="setRestntById" parameterType="String">
		update restnt set
		restntName = #{restntName},
		restntTel=#{restntTel}

		where restntId =
		#{restntId} and
		active = '1'

	</update>

	<!--관리자 : 식당정보 추가 -->

	<insert id="putRestnt" parameterType="RestntDTO">
		insert into restnt
		(restntId,
		restntName,
		adress1,
		adress2,
		adress3,
		adress4,
		restntTel,
		restntCate)
		values
		(#{restntId},
		#{restntName},
		#{adress1},
		#{adress2},
		#{adress3},
		#{adress4},
		#{restntTel},
		#{restntCate})
	</insert>



	<!--관리자: 식당관리 - 주소필터 적용 - 식당 리스트 표시 -->
	<select id="getRestntListByAddr" parameterType="RestntDTO"
		resultType="RestntDTO">
		select restntId,
		restntName from restnt
		where
		adress1=#{adress1}and
		adress2=#{adress2}and
		adress3=#{adress3}and
		active= '1'

	</select>



	<!--관리자, 회원 : 식당관리 - 식당리스트에서 식당선택 - 상세정보 표시 -->
	<select id="getRestntInfoById" parameterType="RestntDTO"
		resultType="RestntDTO">
		select
		* from
		restnt where
		restntId=#{restntId}
		and active = '1'

	</select>

	<!-- 식당 추가 : id 지정 로직에 필요: 해당 지역의 마지막으로 등록된 식당의 아이디 값 가져오기 -->
	<select id="getLastRestntId" parameterType="RestntDTO"
		resultType="String">
		select max(restntId) from restnt where
		adress1=#{adress1}
		and
		adress2=#{adress2} and
		adress3=#{adress3}
	</select>
	<select id="getAdressCode" parameterType="RestntDTO" resultType="String">
		select adresscode from adress where
		adress1 = #{adress1}
		and adress2
		=#{adress2}
		and adress3 =#{adress3}
	</select>

	<!-- 회원! 식당 상세정보 -->
	<select id="getRestntInfoByRestntId" parameterType="RestntDTO"
		resultType="RestntDTO">
		select restntname, restnteval, restntcate, restnttel
		from
		restnt
		where RESTNTID=#{RESTNTID}


	</select>

	<!-- 회원 : 친구가 평가한 식당리스트 -->
	<select id="getEvalRestntListByMateId" parameterType="RestntDTO"
		resultType="RestntDTO">
		select r.restntname, e.score, m.mateid, r.restntid
		from
		restnt r, evaluate e, mate m, member mm
		where mm.memid=#{mm.memid}
		and
		r.restntid=e.restntid
		and e.memid= m.mateid
		and mm.memid=m.memid
		and
		score != -1
	</select>

	<select id="restntListTotalCount" parameterType="RestntDTO"
		resultType="java.lang.Integer">
		SELECT COUNT(restntId) From
		restnt WHERE
		adress1=#{adress1}
		and adress2 = #{adress2} and adress3 =#{adress3}
		and active = '1'
	</select>

	<select id="restntListPaging" parameterType="RestntDTO"
		resultType="RestntDTO">
		select * from (select A.*,FLOOR((ROWNUM - 1)/#{viewCount} +
		1)page,
		rownum from (select * from restnt where adress1=#{adress1} and
		adress2 =
		#{adress2} and adress3 =#{adress3} and active = '1' order by
		restntid
		) A)
		where page = #{pageNum}

	</select>

	<select id="getRestntFullAddress" parameterType="RestntDTO"
		resultType="RestntDTO">
		select restntId, adress1, adress2, adress3, adress4 from
		restnt where
		adress1=#{adress1} and adress2 = #{adress2} and adress3
		=#{adress3}
		and active = '1' order by restntid
	</select>

	<update id="setRestntLocationInfo" parameterType="RestntDTO">
		update restnt set
		longitude = #{longitude},
		latitude=#{latitude}

		where
		restntId =
		#{restntId} and
		active = '1'
	</update>

</mapper>
