<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.VisitMapper">
<insert id="putVisit" parameterType="VisitDTO">
		insert into visit
		(visitId,
		visitDate,
		menuId,
		memId,
		restntId,
		restntName,
		active)
		values
		(#{visitId},
		SYSDATE,
		#{menuId},
		#{memId},
		#{restntId},
		#{restntName},
		'1')
	</insert>
	<select id="getLastVisitId" resultType="String">
		select max(visitId) from visit
	</select>
	<select id="getVisitInfoByMemId" parameterType="String"
		resultType="VisitDTO">
		select visitId, visitDate, menuId, restntName from
		visit where
		memId=#{memId}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             and
		active = '1'
	</select>
	<update id="dropVisitById" parameterType="String">
		update visit set
		active = '0'
		where visitId = #{visitId} and
		active = '1'
	</update>
</mapper>